<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>PLEXUS</string>
	<key>CFBundleDisplayName</key>
	<string>TabReloader</string>
	<key>CFBundleIdentifier</key>
	<string>com.cyberplexus.tabreloader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>tab_reloader_bar</string>
				<key>Label</key>
				<string>Tab Reloader</string>
			</dict>
		</array>
		<key>Context Menu Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>tab_reloader</string>
				<key>Identifier</key>
				<string>tab_reloader_menu</string>
				<key>Title</key>
				<string>Tab Reloader</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Independently timed, automatic reloading of browser windows.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://bitbucket.org/pjv/tabreloader.safariextension/wiki/Home</string>
</dict>
</plist>
