<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>pjv</string>
	<key>CFBundleDisplayName</key>
	<string>Tab Reloader</string>
	<key>CFBundleIdentifier</key>
	<string>com.cyberplexus.tabreloader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>bar.html</string>
				<key>Identifier</key>
				<string>tab_reloader_bar</string>
				<key>Label</key>
				<string>Tab Reloader</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle_from_button</string>
				<key>Identifier</key>
				<string>tab_reloader_button</string>
				<key>Image</key>
				<string>images/tb_button.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Tab Reloader</string>
				<key>Palette Label</key>
				<string>Tab Reloader</string>
				<key>Tool Tip</key>
				<string>Open / Close Tab Reloader Bar</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Independently timed, automatic reloading of Safari tabs.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://pjv.sofasage.com/reloader/safari-extensions-manifest.plist</string>
	<key>Website</key>
	<string>http://pjv.sofasage.com/reloader</string>
</dict>
</plist>
